.about-us {
  height: auto;
  width: 100%;
  background-color: #fff8f5;
}
.about-us-head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #292e36;
  color: #ffffff;
  padding: 40px 0px;
}

.about-us-head h1 {
  font-size: 45px;
  font-weight: 100;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-top: 1px solid #e1b168;
  border-bottom: 1px solid #e1b168;
}

.about-us-story {
  width: 100%;
  height: auto;
  padding: 70px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.about-us-story img {
  height: 340px;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.about-us-des {
  width: 650px;
  height: 340px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  /* background-color: red; */
}
.story h1,
.est-about h1 {
  height: 41px;
  font-size: 41px;
  font-weight: 600;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #292e36;
  margin: 15px 0px;
}
.story p,
.est-about p {
  font-size: 20px;
  color: #555555;
  margin-top: 10px;
  word-spacing: 3px;
  letter-spacing: 1px;
  line-height: 30px;
}

.est {
  width: 100%;
  display: flex;
  gap: 1px;
  align-items: center;
  justify-content: center;
}
.aboutus-img {
  border-top-right-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media only screen and (max-width: 828px) {
  .about-us-story {
    flex-direction: column;
    padding: 40px 20px;
  }

  .about-us-story img {
    /* width: 100%; */
    height: auto;
    margin-bottom: 30px;
  }

  .about-us-des {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .about-us-head h1 {
    font-size: 35px;
  }

  .story h1,
  .est-about h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 440px) {
  .about-us-head h1 {
    font-size: 30px;
    padding: 20px;
  }

  .about-us-story {
    padding: 20px;
  }

  .about-us-des {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .about-us-story img {
    width: 90%;
    margin: 0 auto 20px;
  }

  .story h1,
  .est-about h1 {
    font-size: 25px;
    margin: 10px 0;
  }

  .story p,
  .est-about p {
    font-size: 16px;
  }
}
